In [2]:
import pandas as pd
import numpy as np

In [5]:
#Série é um array nomeado e unidimensional
# Pode ser criado através de:
#listas
lista = [1,2,68,66,'-']
pd.Series(lista)

0     1
1     2
2    68
3    66
4     -
dtype: object

In [9]:
#Arrays
arr = np.array([1,6,84,0])
pd.Series(arr)

0     1
1     6
2    84
3     0
dtype: int32

In [14]:
#Dicionarios
dicionario = {'Nome':'Lucas','Idade':32,'Sexo':'M'}
pd.Series(dicionario)

Nome     Lucas
Idade       32
Sexo         M
dtype: object

In [46]:
# personalizando o index
serie_1 = pd.Series([85,75,63,55,77],index=['A','B','C','D','E'])
#outra forma
labels =['A','B','C','D','E','F','G']
dados = [18,8,23,15,21,37,9]
serie_2 = pd.Series(data= dados,index=labels)

In [26]:
#Operações entre series:
#serie_2 + serie_1 # os indexadores 'F' e 'G' aparecerão valores nulos equanto os demais serão somados
serie_1 - serie_2 # os indexadores 'F' e 'G' aparecerão valores nulos equanto os demais serão subtraídos

A    67.0
B    67.0
C    40.0
D    40.0
E    56.0
F     NaN
G     NaN
dtype: float64

In [32]:
#Acessando valores individuais:
#serie_1[3] # utilizando o índice
serie_1['D'] # utilizando a chave

55

In [91]:
## Algumas funções:
serie_3 = pd.Series(['A','C','H','N','S','A','N','Y','C','H','N'])
##Unique: Retorna uma lista de valores únicos:
#serie_3.unique()

##Unique: Retorna uma lista de valores únicos:
#serie_3.nunique()

##nlargest(n): retorna as linhas ordenadas com os maiores valores, o parametro (n) indica a quantidade de linhas, o padrão é 5
#serie_2.nlargest(3)

##nsmallest(n): retorna as linhas com os menores valores, o parametro (n) indica a quantidade de linhas
#serie_2.nsmallest(1)

#serie_3.count() # retorna o número de elementos não nulos da serie
#serie_3.value_counts() # retorna o número de ocorrências de cada valor na serie

##isna(): retorna um array com valores booleanos onde True para nuloes e False para não nulos 
#serie_4 = pd.Series([np.nan,2,6,8,np.nan,8, 9,np.nan,np.nan])
#serie_4.isna()
#serie_4.isna().sum() # retorna a quantidade de valores nulos na série

## eq(): compara series e data.frame retornando uma serie de True,quando coincidir, e False quando não
serie_1.eq(15) # compara cada elemento da série com  o valor indicado no parametro
serie_1.eq([85,75,63,55,77]) # compara os elemento da série de acordo com os índices de cada um

## gt(): o oposto do eq retorna uma serie de False,quando coincidir, e True quando não
serie_1.gt([85,75,63,55,77])


##Operações de agregação:
serie_1.mean() # retorna a média geral da serie
##agg([lista de funções]) # retorna uma série com os resultados das funções listadas
serie_1.agg(['count','mean','median', 'sum'])

count       5.0
mean       71.0
median     75.0
sum       355.0
dtype: float64