In [1]:
import pandas as pd
import numpy as np

In [32]:
lista = [['BRASIL','BRASIL','BRASIL','ARGENTINA','ARGENTINA','ARGENTINA','URUGUAI','URUGUAI','URUGUAI'],[2021,2022,2023,2021,2022,2023,2021,2022,2023]]
lista

[['BRASIL',
  'BRASIL',
  'BRASIL',
  'ARGENTINA',
  'ARGENTINA',
  'ARGENTINA',
  'URUGUAI',
  'URUGUAI',
  'URUGUAI'],
 [2021, 2022, 2023, 2021, 2022, 2023, 2021, 2022, 2023]]

In [33]:
tupla = zip(*lista)
tupla

In [34]:
tupla = list(tupla)
tupla

[('BRASIL', 2021),
 ('BRASIL', 2022),
 ('BRASIL', 2023),
 ('ARGENTINA', 2021),
 ('ARGENTINA', 2022),
 ('ARGENTINA', 2023),
 ('URUGUAI', 2021),
 ('URUGUAI', 2022),
 ('URUGUAI', 2023)]

In [35]:
mult=pd.MultiIndex.from_tuples(tupla) # gera os indexes mult
mult

MultiIndex([(   'BRASIL', 2021),
            (   'BRASIL', 2022),
            (   'BRASIL', 2023),
            ('ARGENTINA', 2021),
            ('ARGENTINA', 2022),
            ('ARGENTINA', 2023),
            (  'URUGUAI', 2021),
            (  'URUGUAI', 2022),
            (  'URUGUAI', 2023)],
           )

In [38]:
df_mult = pd.DataFrame(data = np.random.randn(9,2),index = mult, columns = ['EXP TRIGO','EXP ARROZ'])
df_mult

                EXP TRIGO  EXP ARROZ
BRASIL    2021   0.623558   1.276983
          2022   0.715581   0.646917
          2023   0.375865   1.446610
ARGENTINA 2021  -1.262729  -0.532829
          2022  -0.222613   0.440285
          2023  -1.371232  -0.568886
URUGUAI   2021   0.785903  -0.351723
          2022  -0.449967   0.271277
          2023   0.283529  -0.375132

In [41]:
df_mult.index.names = ['PAIS','ANO']
df_mult

                EXP TRIGO  EXP ARROZ
PAIS      ANO
BRASIL    2021   0.623558   1.276983
          2022   0.715581   0.646917
          2023   0.375865   1.446610
ARGENTINA 2021  -1.262729  -0.532829
          2022  -0.222613   0.440285
          2023  -1.371232  -0.568886
URUGUAI   2021   0.785903  -0.351723
          2022  -0.449967   0.271277
          2023   0.283529  -0.375132

In [43]:
#Acessando os valores
df_mult['EXP TRIGO'] # Seleciona as colunas (ANO e PAIS são índices, não são colunas )

PAIS       ANO
BRASIL     2021    0.623558
           2022    0.715581
           2023    0.375865
ARGENTINA  2021   -1.262729
           2022   -0.222613
           2023   -1.371232
URUGUAI    2021    0.785903
           2022   -0.449967
           2023    0.283529
Name: EXP TRIGO, dtype: float64

In [62]:
df_mult.loc['BRASIL'] # Seleciona a linha pelo nome

      EXP TRIGO  EXP ARROZ
ANO
2021   0.623558   1.276983
2022   0.715581   0.646917
2023   0.375865   1.446610

In [64]:
df_mult.xs(2021,level = 1) # para o ANO é preciso indicar o nível, no caso 1, para o PAIS é 0

           EXP TRIGO  EXP ARROZ
PAIS
BRASIL      0.623558   1.276983
ARGENTINA  -1.262729  -0.532829
URUGUAI     0.785903  -0.351723

In [65]:
df_mult.xs('BRASIL',level = 0) # Mesmo resultado que df_mult.loc['BRASIL'] b

      EXP TRIGO  EXP ARROZ
ANO
2021   0.623558   1.276983
2022   0.715581   0.646917
2023   0.375865   1.446610

In [78]:
df_mult[0:1]# primeira a 2º linha

             EXP TRIGO  EXP ARROZ
PAIS   ANO
BRASIL 2021   0.623558   1.276983

In [79]:
# modificando a visualização
df_mult_2=df_mult.unstack()
df_mult_2

          EXP TRIGO                     EXP ARROZ
ANO            2021      2022      2023      2021      2022      2023
PAIS
ARGENTINA -1.262729 -0.222613 -1.371232 -0.532829  0.440285 -0.568886
BRASIL     0.623558  0.715581  0.375865  1.276983  0.646917  1.446610
URUGUAI    0.785903 -0.449967  0.283529 -0.351723  0.271277 -0.375132

In [83]:
df_mult_2.xs(2022,axis = 1 , level = 1) # nesse caso as informação de ano estão na linha de indice 1 - axis se refere a linha

           EXP TRIGO  EXP ARROZ
PAIS
ARGENTINA  -0.222613   0.440285
BRASIL      0.715581   0.646917
URUGUAI    -0.449967   0.271277